* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    /* height: 90vh; */
    /* background-color: #0f0; */
    overflow: hidden;
}
ul{
    list-style: none;
}

#nav_bar{
    display: flex;
    color: #fff;
    height: 42px;
}



#logo img{
    position: absolute;
    top: 3px;
    right: 10px;
    background-color: #fff;
    border-radius: 4px;
    /* height: 40px; */
}


#nav_bar img{
    height: 35px;
}


#nav_title{
    font-size: 10px;
    letter-spacing: 7px;

    margin:11px 38px;
    text-align: center;
    margin-right: 30px;
}

.container {
    position: relative;
    /* border: 4px solid rgb(133, 133, 7); */
    background-color: #ee9595;
    z-index: 3;
    /* background: u rl('./modules/sea.jpg'); */
    background-color: #023C40;



}

.menu_sidebar_container-toggle{
    display: inline-block;
    padding: 4px 10px;
    cursor: pointer;
    background:none;
    color: #fff;
   
}

.menu_sidebar_container-toggle div{
    font-size:30px;

}

.menu_sidebar_container {
    position: absolute;
    top: 20;
    left: -230px;
    /* Hidden initially */
    width: 280px;
    /* background-color: #dbd6d6; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
    transition: left 0.3s ease-in-out;
 
}

.container button {
    border: none;
}

.menu {
    /* border: 2px  solid mediumvioletred; */
    width: 70%;
    height: 100vh;
    width: 230px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: inherit;
    background-color: #ffffff;
    padding-bottom: 75px;
   

}


::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    width: 0;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 4px;
    width: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8a2c2c;
}


.menu_sidebar_container.active {
    left: 0;
    /* Slide in when active */

}

#menu_open{
    display: block;
    position: absolute;
    top: 8px;
    left: 6px
}

#menu_close{
    display: none;
    position: absolute;
    top: 8px;
    left: 6px
}


/* .menu_sidebar_container ul {
    list-style: none;
    padding: 0;
    0;
} */

/* .menu_sidebar_container li {
    padding: 10px;
    border-bottom: 1px solid #ffffff;
} */

/* .menu_sidebar_container li:hover {
    background-color: #2c8a6a;
} */

#plans {
    display: none;
}

.side_menu_cat1{
    margin-top: 10PX;
    margin-left: 10px;

    margin-right: 7px;
    margin-bottom: 70px;
    border-radius: 6px;
    cursor: pointer;

}


.side_menu_container_optins{
    border: 1px solid #4bb697;
    border-radius: 6px;
    margin-bottom: 5px;

}

.side_menu_cat1 li{
    padding: 10px;
    /* 5px; */

    background-color: #4bb697;
    border-radius: 6px;
    cursor: pointer;
}

.side_menu_cat2{

    display: none;

    font-size: 15px;
    padding: 10px;
    margin-bottom: 7px;
    cursor: pointer;
   
}

.side_menu_cat2.show {
    display: block;
}

.side_menu_cat2 li{
    background-color: #83E9A6;
    border-radius: 6PX;
    margin-top: 5px;
    cursor: pointer;

   
}



.side_menu_cat3{
   
    display: none;
    font-size: 13px;
   
}

.side_menu_cat3.show {
    display: block;
}

.side_menu_cat3 li{
   
    padding-left: 10px;
    background-color: #e1ffff;
    cursor: pointer;
 
}

.side_menu_container_optins div{
    background-color: #e1ffff;
}

.side_menu_container_optins div label{
    margin-left: 10px;
    cursor: pointer;

}
.side_menu_container_optins div select{
    width: 90%;
    border:1px solid #023C40;
    border-radius: 6px;
    padding: 7px;
    background-color: #fff;
    margin-left: 10px;
    cursor: pointer;
}
.side_menu_container_optins div input{
    padding: 7px;
    background-color: #fff;
    margin-left: 10px;
    border-radius: 6px;
    border:1px solid #023C40;
    cursor: pointer;


}

.side_menu_container_optins div input[type="submit"], button {
    margin: 10px;
    background-color: #03822b;
    border-radius: 6px;
    border:1px solid #013311;
    color: #fff;
    cursor: pointer;

  }

  .side_menu_container_optins div  button {
    padding: 7px;
    margin-left: 10px;



  }


  .side_menu_container_optins div input[type="reset"] {
    margin: 10px;
    background-color: #961717;
    border-radius: 6px;
    border:1px solid #330101;
    color: #fff;
    cursor: pointer;

  }

  .side_menu_container_optins div input[type="file"] {
    width: 90%;
    cursor: pointer;

  }

.submenu li {
    padding-left: 20px;
    cursor: pointer;

}

.menu_sidebar_container {
    display: flex;
    flex-direction: row;

}

.menu_sidebar_container #sidebar li {

    list-style: none;
    /* 5px; */
    background-color: #a4e7d1;
    color: #000;
    /* padding: 0; */
    cursor: pointer;

}




#sidebar {
    height: 90vh;

}

#sidebar li{
    padding: 6px;
    margin-bottom: 2px;

}

#fullscreen_in{
    display: block;
}

#fullscreen_out{
    display: none;
}

#edit_tool{
    position: absolute;
    top: 164px;
    left: 268px ;
    display: none;
    transition: display 0.3s ease;
    z-index: 1;
}
#edit_tool.show {
    display: flex; /* Or any desired display style */
  }

#measure_tool{
    position: absolute;
    top: 207px;
    left: 268px ;
    display: none;
    transition: opacity 0.5s, display .5s;
    z-index: 1;


}
#measure_tool.show {
    display: flex; /* Or any desired display style */
  }

  #Print_tool {
    position: absolute;
    top: 249px;
    left: 268px;
    display: none;
    transition: display 0.3s ease;
    z-index: 1;
    background-color: #a4e7d1;
    padding: 10px;
    width: 180px;
}

#Print_tool.show {
    display: block;
}





#Print_tool select {
    width: 90%;
    border-radius: 3px;
    background-color: #c4c4c4;
    padding: 5px;
}

#Print_tool button {
    border-radius: 4px;
    padding: 5px;
    background-color: #2C8A6A;
    margin: 20px auto;
    padding: 5px 10px;

}

#layers_tool{
    position: absolute;
    top: 292px;
    left: 269px;
    display: none;
    height: 200px;
    width: 180px;
    background-color: #a4e7d1;
    padding: 10px;
    overflow: hidden;
    
}

#layers_tool.show{
    display: block;
}

/* Ensure dropdown always opens downwards */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select:dir(rtl) {
    padding-right: 30px; /* Adjust as needed for arrow width */
}

select:dir(ltr) {
    padding-left: 30px; /* Adjust as needed for arrow width */
}

/* Position the arrow */
select:after {
    content: '\25BC';
    position: absolute;
    right: 10px;
    top: calc(50% - 0.5em); /* Adjust vertically to center */
}


#boundary_tool{
    position: absolute;
    top: 330px;
    left: 269px;
    display: none;
    height: 180px;
    width: 180px;
    background-color: #a4e7d1;
    padding: 10px;
    overflow: hidden;
    /* border: 1px solid  #00625A; */
    /* border-radius: 8px; */
    
}

#boundary_tool select{
    width: 90%;
    border: 1px solid  #00625A;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
}

#boundary_tool.show{
    display: block;
}

#boundary_tool button{
    font-size: 15px;
    border-radius: 7px;
    padding: 5px 10px;
    background-color: #2C8A6A;
    margin: 7px 0 20px 0;
    color: #fff;
}


#pindrop_tool{
    position: absolute;
    top: 372px;
    left: 268px;
    height: 180px;
    display: none;
    transition: display 0.3s ease;
    z-index: 1;
    background-color: #a4e7d1;
    padding: 10px;
    width: 180px;
    
}

#pindrop_tool input {
    width: 90%;
    border: 1px solid  #00625A;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
}

#pindrop_tool button {
    font-size: 15px;
    border-radius: 7px;
    padding: 5px 10px;
    background-color: #2C8A6A;
    margin: 7px 0 20px 0;
    color: #fff;
}
#pindrop_tool.show{
    display: block;
}

/* .inputGroup{
    display: flex;
    flex-direction: column;
} */


footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    background-color: #00625A;
    color: #fff;
    z-index: 1;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    z-index: 3;
    
}
footer div{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3px 17px;
    font-size: 14px;
    
    
}
footer  #lonlat_display{
    margin: 0;
    border-radius: 7px;
    height: 20px;
    width: 230px;
    margin-left: 20px;
    background-color: #85f7ff;
    color: #000;
}


#base_layer_container{
    position: absolute;
    top: 73px;
    right: 25px;
    z-index: 3;
    border-radius: 8px;
    
}
#base_layer_container #base_layer_container_icon{
    height:80px;
    width: 80px;
    border: 5px solid #023C40;
    background: url('./modules/mapp.jpg');
    border-radius: 10px;
    
}

#base_layer_container #base_layer_menu{
    background-color: #a4e7d1;
    position: absolute;
    top: 0;
    right: 100px;
    width: 170px;
    border: 1px solid #023C40;
    border-radius: 6px;
    display: none;
}

#base_layer_container #base_layer_menu.show{
    display: block;
}
#base_layer_container #base_layer_menu li{
    font-size: 14px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

#base_layer_container #base_layer_menu label, img{
    display: block;
}

#base_layer_container #base_layer_menu label{
    width: 90%;
    padding-top: 15px;
}

#base_layer_container #base_layer_menu img{
    height: 45px;
    /* width: 45px; */
    border: 2px solid #00625A;
    border-radius: 8px;
}

#base_layer_menu li:hover{
    background-color: #c0f3e0;
}

#base_layer_menu li.active{
    background-color: #00625A;
    color: #fff;
}

#label{
    font-size: 12px;
    background-color: #03494e;
    margin-top: 20px;
    color: #fff;
    padding: 7px 3px;
    font-family: 'Courier New', Courier, monospace;
    width: 80px;
}







/* .scaleLine{
    position: absolute;
    bottom: 100px;
    right: 100px;
    z-index: 4
    
} */

#scale-line-control {
    position: absolute;
    width: 150px;
    height: 20px;
    bottom: 50px;
    right: 240px;
    font-weight: 600;
    /* background-color: rgba(255, 255, 255, 0.5); */
    font-size: 12px;
    z-index: 90;
    opacity: 1;
    padding: 40px;
    font-weight: 900;
}

#scale-line-control-cont {

    padding: 40px;
}

.ol-scale-text{
    font-size: 16px !important;
    font-weight: 700 !important;
}

.ol-scale-step-text{
    font-size: 13px !important;
    font-weight: bolder !important;
}

#scale-line-control-container{
    padding: 50px;
}

canvas {
    border: 3px solid #031716;
  }